<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Instagram</h1>
    </header>
    <main>
        <a class="shadow__btn" href="http://localhost:3000/instagram/post">Create Post</a>
        <div class="posts">
            <% for (user of users) { %>
                <div class="post">
                    <div class="user-info">
                        <h3 class="username"><%= user.username %></h3>
                    </div>
                    <img class="post-image" src="<%= user.photo %>" alt="Post Image">
                    <p class="post-caption"><%= user.title %></p><br>
                    <a class="new2" href="http://localhost:3000/instagram/<%=user.id%>/edit">Edit the post</a><br><br>
                    <form action="/instagram/<%= user.id %>?_method=DELETE" method="post">
                        <button>Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>
